* {
    /* margin: 0; */
    padding: 0;
}

.app {
    display: flex;
    background-color: cyan;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}